<div class="body">
  {{gh-octicon 'person'}}

  <div class="title">
    <a href="https://github.com/{{event.actor.login}}">{{event.actor.login}}</a>
    added
    <a href="https://github.com/{{event.payload.member.login}}">
      {{event.payload.member.login}}
    </a>
    to
    <a href="https://github.com/{{event.repo.name}}">
      {{~event.repo.name~}}
    </a>
  </div>
  <div class="time">{{moment-from-now event.created_at}}</div>
</div>
