<div class="body">
  {{gh-octicon icon}}

  <div class="title">
    <a href="https://github.com/{{event.sender.login}}">{{event.sender.login}}</a>
    published
    <a href="https://github.com/{{event.repository.full_name}}">
      {{~event.repo.name~}}
    </a>
  </div>
  <div class="time">{{moment-from-now event.created_at}}</div>
</div>
